# Local DBs
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
instance/

# Node / frontend
node_modules/
dist/
build/

# IDEs / system
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Misc
*.bak
